<% @page_title = "New Message" %>
<% @page_class = 'manage form messages' %>

<div id="pageTitle">
	<div class="controller_navigation">
		<%= link_to "Back to " + @series.title, {:action => 'index', :series_id => @series.id }, :class => 'back'%>
	</div>
	<h1><%= @page_title %></h1>
</div>
<div class="breaker">&nbsp;</div>

<!--start create new form-->
	<%= form_for :message, :url => {:action => 'create', :series_id => @series.id }, :html => {:mulitpart => true} do |f| %>
		<%= render :partial => 'form', :locals => {:f => f}  %>
	<% end %>
