<% @page_title = "Update : " + @media.title %>
<% @page_class = 'edit form media' %>

<div id="pageTitle">
	<div class="controller_navigation">
		<%= link_to "Back to all media", {:action => 'index'}, :class => 'back'%>
	</div>
	<h1><%= @page_title  %></h1>
</div>
<div class="breaker">&nbsp;</div>

<!--start edit form-->
	<%= form_for :media, :url => {:action => 'update', :id => @media}, :html => {:mulitpart => true} do |f| %>
	  	<%= render :partial => 'form', :locals => {:f => f}  %>
	<% end %>




