<% @page_title = 'Update: ' + @series.title %>
<% @page_class = 'manage form series' %>

<div id="pageTitle">
	<div class="controller_navigation">
		<%= link_to "Back to Series", {:action => 'index'}, :class => 'back'%>
	</div>
	<h1><%= @page_title %></h1>
</div>

<%= form_for @series, :html => {:multipart => true} do |f| %>
  	<%= render :partial => 'form', :locals => {:f => f}  %>
<% end %>




