<% @page_title = 'New Series' %>
<% @page_class = 'manage form series' %>

<div id="pageTitle">
	<div class="controller_navigation">
		<%= link_to "Back to Series", {:action => 'index'}, :class => 'back'%>
	</div>
	<h1><%= @page_title %></h1>
</div>

<%= form_for :series, :url => {:action => 'create'}, :html => {:multipart => true} do |f| %>
	  <%= render :partial => 'form', :locals => {:f => f}  %>
<% end %>




